html, body {
    height: 100%;
    margin: 0;
}
body{
    background-color: hsl(0, 0%, 9%);
    font-family: sans-serif;
    color: hsl(208, 100%, 97%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: hsl(0, 0%, 10%);
}
#logo-name{
    font-size: 1.4rem;
    font-weight: 900;
    color:hsl(255, 10%, 85%);
}
#logo-name::before{
    content:"</>";
    font-size: 1.2rem;
    font-weight: 1000;
    color:hsl(252, 54%, 24%);
}
#submitSolution-btn{
    background-color: hsl(0, 0%, 30%);
    color: aliceblue;
    padding: 5px;
    border: 1px solid hsl(120, 2%, 11%);
    font-weight: 900;
    border-radius: 5px;
}
#submitSolution-btn:hover{
    background-color: hsl(0, 0%, 20%);
}
#submitSolution-btn:active{
    background-color: hsl(125, 90%, 15%);
}
.content{
    display: block;
    scroll-behavior: smooth;
    overflow-y: auto;
    padding: 10px;
}
.content::-webkit-scrollbar{
    width:6px;
    background: hsl(0, 1%, 29%);
    border-radius: 5px;
}
.content::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 50%);
    border-radius: 5px;
}
.challenge-section{
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 0;
    
}
.challenge-info{
    display: flex;
    width: 45%;
    min-width: 25%;
    flex-direction: column;
    background-color: hsl(0, 0% ,18%);
    border-radius: 10px;
    margin: 5px;
    border: 1px solid hsl(0, 0%, 19%);
}
.bottom-side{
    margin-top: auto;
}
#problem, #exemple{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}
#exemple-header{
    font-weight: 900;
}
.challenge-language{
    color:hsl(251, 9%, 65%);
    font-weight: 800;
}
.challenge-info-card h2{

    font-weight: 1000;
    font-size: 1.3rem;
}
#status-header{
    text-align: center;
    font-weight: 1000;
    color: hsl(240, 100%, 80%);
}
#status{
    text-align: center;
    color: rgb(200, 49, 49);
    font-size: 14px;
}
.upload-card label{
    font-weight: 900;
    margin: 5px;
}
.upload-card{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.upload-card{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 30%);
    color: aliceblue;
    padding: 5px;
    border: 1px solid hsl(120, 3%, 16%);
    font-weight: 900;
    border-radius: 10px;
    align-items: center;
    overflow-wrap: break-word;
}
#file-name{
    color: hsl(39, 100%, 60%);
    font-size: 14px;
}
#file{
    display: none;
}
#upload-icon{
    height: 50px;
    width: 50px;
}
.upload-card:hover{
    background-color: hsl(0, 0%, 25%);
}
#challenge-timer{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: hsl(0, 0%, 13%);
    font-weight: 500;
    font-family: monospace;
    color: hsl(39, 100%, 60%);
}
.divider{
    width: 2px;
    cursor: col-resize;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dot{
    height: 20px;
    width: 3px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 30%);
}
.editor-section{
    flex: 1;
    background-color: hsl(0, 0% ,16%);
    display: flex;
    min-width: 25%;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid hsl(0, 0%, 15%);
}
#editor-header::before{
    content: "</>";
    font-size: 14px;
    font-weight: 500;
    color:hsl(252, 54%, 40%);
    
}
#editor-header{
    background-color: hsl(0, 0%, 13%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    font-weight: 900;
}
#editor-language{
    padding: 5px;
    border-bottom: 1px solid hsl(0, 0%, 30%);
    text-align: center;
}
.editor{
    display: flex;
    gap: 8px;
    font-family: monospace;
    overflow-y: auto;
    scroll-behavior: smooth;
    flex: 1;
}
.editor::-webkit-scrollbar, #code::-webkit-scrollbar{
    background: hsl(0, 0% ,25%);
    width: 6px;
    border-radius: 5px;
}
.edito::-webkit-scrollbar-thumb, #code::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 50%);
    border-radius: 5px;
}
#line-numbers{
    width: 35px;
    color: hsl(0, 0% ,70%);
    font-family: monospace;
    user-select: none;
    padding: 10px;
    line-height:1.5;
    white-space: pre;
    background: hsl(0, 0%, 17%);
    text-align: right;
    border-bottom-left-radius: 10px;
}
#code{
    flex: 1;
    resize: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: monospace;
    padding: 10px;
    line-height:1.5;
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0% ,16%);
    border-bottom-right-radius: 10px;
}
.timer-btns{
    display: flex;
    justify-content: center;
   
}
#timer{
    font-family: monospace;
    font-size: 1.9rem;
    font-weight: 900;
    color: hsl(212, 100%, 67%);
  
    margin: auto;
}
.pause-play{
    height: 25px;
    width: 25px;
}
#pause{
    height: 24px;
    width: 24px;
}
#play-btn,#pause-btn{
    background: none;
    border: none;
    border-radius: 5px;
}
#play-btn:hover,#pause-btn:hover{
    background-color: hsl(0, 0% ,18%);
}
#play-btn:active,#pause-btn:active{
    background-color: hsl(0, 0% ,40%);
}
#participants-container{
    display:flex;
    gap:6px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}
.participant-card{
    padding:5px;
    border:1px solid hsl(39, 100%, 35%);;
    border-radius:20px;
    cursor:pointer;
    font-family: monospace;
    background-color: hsl(0, 0%, 17%);
}
#profile{
    display: flex;

}
.participant-card:hover{
    background-color: hsl(0, 0%, 25%);
}
.submitted {
    border-color: #22c55e;
    box-shadow: 0 0 5px rgba(34,197,94,.4);
}
.timer-ending{
    animation: colorChange;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
@keyframes colorChange{
    50%{color: hsl(212, 100%, 67%);}
    50%{color: hsl(0, 100%, 57%)}
    
}