body{
    margin: 0;
    background-color:hsl(240, 100%, 90%);
    background-color: hsl(137, 47%, 97%);
    font-family: sans-serif;
  
}
.topNavBar{
    display: flex;
    flex-direction: row;
    background-color:hsl(140, 48%, 94%);
    height:auto;
    justify-content: space-between;
}
#logo{
    margin:2px;
}
#logo::after{
    content:"</>";
    font-size: 2rem;
    font-weight: 900;
    color:hsl(252, 79%, 30%);
}
#profile{
    margin:5px;
}
#name{
    margin: 5px;
    font-family:sans-serif;
    color:hsl(200, 100%, 20%);
    font-weight: 950;
    font-size: 1.5rem;
}
#name::after{
    content:"</>";
    font-size: 1.5rem;
    color:hsl(0, 80%, 17%);
}
.downPage{
    display: flex;
    flex-direction: row;
    height: 92vh;
}
.left-side.collapsed .text{
    display: none;
}
.left-side.collapsed{
    width: auto;
}
.left-side .icon{
    display: none;
}
.left-side.collapsed .icon{
    display: inline;
}
.left-side{
    display: flex;
    flex-direction: column;
    width:250px;
    
    background-color:hsl(140, 48%, 88%);
    border-radius:3px;
    transition: width 0.3s ease;
}
a{
    text-decoration: none;
    color:black;
    width: auto;
    padding: 10px;
}
.link{
    color:hsl(215, 64%, 31%);
    font-size: 0.875rem;
    font-weight: bold;
}
#logout{
    color:hsl(0, 75%, 44%);
    font-size: 16px;

}
#logout:hover{
    background-color: hsl(0, 80%, 95%);
}
a:hover{
    background-color: hsl(139, 48%, 95%);
}

/* Styling the right side of the page */
.right-side{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.top-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    width: 80vw;
    align-items: center;
    margin-bottom: 100px;
}
.right-side a{
    color:hsl(215, 64%, 31%);
    font-size: 0.875rem;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin-top: 10px;
    background-color: hsl(214, 8%, 82%);
}
.right-side a:hover{
    background-color: hsl(214, 8%, 76%);
}
.icon img{
    width: 16px;
    height: 16px;
}
.downPage button{
    border: none;
    background-color:hsl(140, 48%, 88%);
    text-align: end;
}
.downPage button:hover{
    background-color:hsl(140, 48%, 84%);

}



/*modals*/
#join-modal, #start-modal{
    width:400px;
    background:hsl(0, 0%, 95%);
    border-radius:15px;
    padding:8px;
}

#creat-modal{
    background-color: hsl(0, 0%, 95%);
    width: 280px;
    height: 250px;
    border-radius: 15px;
    padding: 10px;
}
#creat-modal h2, #join-modal h2, #start-modal h2{
    text-align: center;
    color:hsl(200, 100%, 20%);
}
#groups-container,#owner-groups-container{
    display:flex;
    flex-direction:column;
    gap:10px;
    min-height:200px;
    max-height: 400px;
    overflow-y:auto;
    scroll-behavior:smooth;
    margin-top:10px;
}

.group-card, .owner-group-card{
    padding:5px;
    border:1px solid hsl(0, 0%, 83%);
    border-radius:10px;
    cursor:pointer;
    background-color: hsl(214, 8%, 82%);
}
.group-card:hover, .owner-group-card:hover{
    background-color:hsl(220,30%,95%);
}

.selected-group, .owner-selected-group{
    background-color:hsl(220,70%,85%);
    border:2px solid hsl(240, 100%, 50%);
}
.btn{
    border-radius: 5px;
    font-weight: 900;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 5px;
}
.form-input{
    width:100%;
    border-style: none;
    background-color:hsl(240, 100%, 85%);
    border-radius: 10px;
    height: 25px;
}
.form-input:hover{
    cursor: pointer;
    background-color:hsl(240, 100%, 80%);
}
.form-input:focus{
    outline: none;
    border: 1px solid hsl(240, 100%, 45%);
}
.low-bar, .modal-buttons{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
#creatgroup-btn, #join-selected-btn, #start-selected-btn{
   background-color:hsl(240, 100%, 85%);
   width: 70px;
   text-align: center;
}
#creatgroup-btn:hover, #join-selected-btn:hover,#start-selected-btn:hover{
    background-color:hsl(240, 100%, 75%);
}
/*close btns*/

#creat-cancel-btn, #join-cancel-btn, #start-cancel-btn{
    background-color:hsl(240, 100%, 85%);
    width: 70px;
    text-align: center;
}
#creat-cancel-btn:hover, #join-cancel-btn:hover, #start-cancel-btn:hover{
    background-color:hsl(0, 61%, 56%);
}
/*Overlays*/
#creat-overlay, #join-overlay,#start-overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0,0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

#terminal{
    background-color: #0D1117;
    color: #58A6FF;
    border-radius: 10px;
    overflow-y:auto;
    scroll-behavior:smooth;
    height: 666px;
}
#terminal p{
    margin: 0;
}
#text{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height:2;
    font-weight: 550;
    font-family: monospace;
    font-size: 0.8rem;
    padding: 15px;
}
#terminal-settings{
    display:flex;
    align-items:center;
    width: auto;
    padding: 5px;
    border-bottom: 0.5px solid ;
    box-shadow: #0D1117;
    justify-content: space-between;
}
.dot img{
    width: 16px;
}
.left-seting{
    display: flex;
}
#file-name{
    display: block;
    font-weight: 900;
    font-size: 0.9rem;
}

@media (max-width:480px){
    #join-modal, #start-modal{
    width:300px;
    }
}