
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/assets/images/01212022-1047259374-coding-classes_scanrail.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: 0;
}
.container{
    z-index: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    height: auto;
    width: 50vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color:rgb(202, 202, 255);
}
.left-side{
    width: 50%;
    position: relative;
    overflow: hidden;
    background-color: hsl(208, 59%, 48%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
}
.left-side::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/assets/images/Treehouse-Stock-Images-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
    transform: scale(1.1);
    z-index: 0;
}
.left-side .content{
    position: relative;
    z-index: 2;
    height: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    padding-left: 5px;
    font-family: 'InterBold';
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 950;
    color:hsl(240, 51%, 60%);
    width: auto;
}
.left-side .content p{
    width: fit-content;
    overflow:hidden;
    white-space: nowrap;
    border-right: 1px solid white;
   animation: typing 3s steps(20) infinite alternate,
               blink 0.7s infinite;
}
.right-side{
   width: 50%;
   text-align: center;
   padding: 20px;
 
}
.right-side h2{
    font-family: 'InterBold';
    color:hsl(200, 100%, 10%);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'InterBold';
    gap:5px;
    margin-left: 25px;
}
.form-label{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
    color:hsl(200, 100%, 10%);
}
a{  
   font-size: small;
    text-align: right;
    text-decoration: none;
    color:black;
    width: auto;
    margin-right: 10px;
    padding: 5px;
}
h1{
    color:hsl(200, 100%, 20%);
    font-weight: 950;
    white-space: normal;
    overflow-wrap: break-word;
}
h1::after{
    content:"</>";
    font-size: 2rem;
    color:hsl(0, 80%, 17%);
}
.form-input{
    width: 90%;
    border-style: none;
    background-color:hsl(240, 100%, 85%);
    border-radius: 15px;
    padding: 5px;
    height: 20px;
}
form button:hover{
    cursor: pointer;
    background-color:hsl(240, 17%, 40%);
}
.form-input:hover{
    cursor: pointer;
    background-color:hsl(240, 100%, 80%);
}
.form-input:focus{
    outline: none;
    border: 1px solid hsl(240, 100%, 45%);
}
form button{
    display: block;
    align-self: center;
    width: 80px;
    border-style: none;
    background-color:hsl(240, 17%, 54%);
    border-radius: 14px;
    padding: 5px;
    font-family: 'InterBold';
    font-size: 1rem;
    margin-right: 10px;
}
@keyframes grow{
    90%{
        transform: scale(1.01,1);
    }
}
@keyframes typing{
    from { width: 0 }
    to { width: 21ch }
}
@keyframes blink{
    50% { border-color: transparent; }
}
